.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}

.button-container a {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  margin: none;
  color: black;
  font-family: "Courier New";
  font-weight: 300;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

.image-container img {
  flex: 1;
  max-width: 30%;
  padding-right: 5%;
}

.image-container .typewriter {
  flex: 1;
  padding-left: 20%;
  font-family: 'Courier New';
  font-weight: 800;
  font-size: 40px;
}

@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-container img {
    min-width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .image-container .typewriter {
    padding-left: 0;
    text-align: center;
  }
}

/* img {
    width: 400px;
}

.typewriter {
    width: 500px;
    font-family: 'Courier New';
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
}

.image-container {
    position: absolute;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
} */
